* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {

}


h1{
    width: 700px;
    margin: auto;
    background: #c0c0c0;
    color: #3d3d3d;
    text-align: center;
    font-size: 35px;
    padding: 10px 20px;
    border-style: solid;
    border-width : 1px 1px 0px 1px;
    text-decoration : none;
    border-color : #3d3d3d
}

.wrapper {
    width: 700px;
    margin: auto;
    /*background: #f5f5f5;*/
    padding: 0 20px 20px;
    border-style: solid;
    border-width : 0 1px 1px 1px;
    text-decoration : none;
    border-color : #3d3d3d
}
fieldset {
    width: 650px;
    margin: 0 auto 5px;

}
legend {
    margin-left: 20px;
}
.text-input-wrapper, .combo-wrapper, .text-area-wrapper {
    text-align: right;

}
input, select, textarea {
    width: 350px;
    color: #3d3d3d;
    font-size: 17px;
    margin: 5px 30px 5px 0;
}
input, select {
    height: 30px;
}
.select-phone {
    width: 100px;
    margin: 5px 20px 5px 45px;
}
.input-file {
    width: 258px;
    margin: 5px 5px 5px 0;
}
.input-budget {
    width: 308px;
    margin: 5px 5px 5px 0;
}
.deals-box {
    height: 70px;
}
label {
    color: #3d3d3d;
    font-size: 17px;
    margin: 5px 20px 5px 0;
    max-width: 125px;
    text-align:right;
}
.central-label {
    text-align: center;
}
.budget-label {
    margin: 5px 30px 5px 0;
}
.deals-label-left {
    text-align: left;
    margin: 5px 5px 5px 40px;
}
.deals-label-right {
    margin: 5px 20px 5px 230px;
}
textarea {
    resize: none;
    height: 70px;
}
.block-label {
    max-width: 100px;
    float: left;
    padding: 5px 0;
    margin-left: 50px;

}
.alldeals-label {
    margin-left: 95px;
}
.button {
    width: auto;
    padding: 0 5px;
    font-size: 17px;
}
/*.button-submit {*/
/*margin-left: 180px;*/
/*}*/

.buttons-wrapper {
    text-align: center;
}
