.panel {
    width: 680px;
}
.panel-title {
    text-align: center;
    font-size: 35px;
    color: #3d3d3d;
}
select, .file {
    cursor: pointer;
}
.contact-delete-buttons {
    margin-top: 35px;
}
#delete-file-list {
    border-bottom: 1px solid gainsboro;
    padding-bottom: 7px;
    margin-bottom: 10px;
}
textarea {
    resize: none;
}